.root {
    -fx-background-color: #212121;
    -fx-text-fill: #FFF;
}

.menu-bar, .menu, .menu-item, .context-menu {
    -fx-text-fill: #FFF;
    -fx-background-color: #1E1E1E; /* Цвет выпадающего меню */
}

.menu:showing, .menu:hover, .menu-item:hover {
    -fx-background-color: #2f2f2f;
}

.label {
    -fx-text-fill: #b0b0b0;
}

.button {
    -fx-background-color: #2f2f2f;
    -fx-border-color: #2f2f2f;
    -fx-text-fill: #FFFFFF;
}

#rightSidebar ScrollPane {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: #FFF;
}

#rightSidebar ScrollPane .scroll-bar:horizontal, .scroll-bar:vertical, .scroll-bar, .viewport {
    -fx-background-color: #1E1E1E; /* Цвет фона */
}

#rightSidebar ScrollPane .scroll-bar .thumb {
    -fx-background-color: #2F2F2FFF; /* Цвет фона ползунка */
}

#rightSidebar ScrollPane .corner {
    -fx-background-color: transparent; /* Устанавливаем прозрачный цвет для углов */
}

