.root {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: #FFF;
}

.menu-bar, .menu, .menu-item, .context-menu {
    -fx-text-fill: #FFF;
    -fx-background-color: #1E1E1E; /* Цвет выпадающего меню */
}

.menu:showing, .menu:hover, .menu-item:hover {
    -fx-background-color: #2f2f2f;
}

.label {
    -fx-text-fill: #b0b0b0;
}

.button {
    -fx-background-color: #2f2f2f;
    -fx-border-color: #2f2f2f;
    -fx-text-fill: #FFFFFF;
}


.split-pane {
    -fx-background-color: #101010; /* Цвет фона SplitPane */
}

/* Стиль для делителя в SplitPane */
.split-pane-divider {
    -fx-background-color: #101010; /* Цвет делителя */
    -fx-padding: 1; /* Внутренний отступ делителя */
}

.scroll-bar:horizontal, .scroll-bar:vertical, .scroll-pane, .viewport, .corner {
    -fx-background-color: #1E1E1E; /* Цвет фона */
    -fx-border-color: #1E1E1E;
}

.thumb {
    -fx-background-color: #2F2F2F; /* Цвет фона ползунка */
}

.text-field {
    -fx-background-color: #2F2F2F;
    -fx-text-fill: #FFF;
}

.titled-pane > .title {
    -fx-background-color: #1E1E1E;
}

/* Изменение цвета текста "Модели" */
.titled-pane > .title > .label {
    -fx-text-fill: #FFF;
}

/* Изменение цвета фона выпадающей части */
.titled-pane > .content {
    -fx-background-color: #1E1E1E;
    -fx-border-color: #1E1E1E;
}

.titled-pane {
    -fx-text-fill: #b0b0b0;
}

.titled-pane > .title > .arrow-button:hover > .arrow , .titled-pane > .title > .arrow-button:pressed > .arrow{
    -fx-background-color: #b0b0b0;
}

